<nav>
    <div class="stie-title">
        <a href="/">
            <h1>MindFuel</h1>
        </a>
        <p>Creative Section of MindFuel</p>
    </div>
    <ul>
        <li><a href="/">Post</a></li>
        <li><a href="/about">LeaderBoard</a></li>
        <li><a href="/blogs/create">New Post</a></li>
    </ul>
</nav>