<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>All Time Top Point Holder</h2>
        <p>At Each Week LeaderBoard post will be refreshed and those with most likes will appear here in leaderboard</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>